.MobilePullbar {
    height: 5px;
    width: 75px;
    background-color: #6f6767de;
    border-radius: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.AppBar{
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;
}