.InfoPaper{
    position: absolute;
    margin: 24px;
    height: calc(100% - 200px);
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    padding: 4px 0 6px 0;
    display: block;
    width: 340px;
    z-index: 1;
}




.overviewContent {
    overflow-y: auto;
    margin: 0;
    padding: 16px 16px 0 16px;
    height: calc(100% - 10px);
}

.overviewContent .infoTitle {
    padding: 8px 12px 12px 12px;
}

.overviewContent .Title {
    margin-bottom: 5px;
}

.legend {
    display: grid;
    padding-top: 16px;
    grid-template-columns: 8px auto min-content;
    align-items: center;
    grid-gap: 16px 8px;
    font-size: 13px;
    line-height: 20px;
}

.legend .color {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.legend .description {
    font-weight: 600;
}

.legend .total {
    color: #767676;
    display: flex;
    align-items: center;
}

.overview {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 8px 12px 12px 12px;
    border-bottom: none;
    margin-bottom: 24px;
}