.MobileMenu{
    margin-top: 500px;
    position: absolute;
    min-height: 276px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    z-index: 100;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);

}

.MobileRoot {
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #C8C8C8;
}

.MobilePullbar {
    height: 5px;
    width: 75px;
    background-color: #C4C4C4;
    border-radius: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.WorldMap{
    position: fixed;
    height: 778px;
    width: 100%;
}
