

.area {
    display: flex;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    flex: 1;
    align-items: center;
}

.area .areaName {
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}

.area .areaTotal {
    color: #767676;
}